* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    background-image: url(Images/PicsArt_11-30-12.26.29_auto_x1.jpg);
    background-repeat:no-repeat;
   background-size: contain;
   background-color: white;
}
.cs{
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    color: #282828;
}
.all-opt {
    color:white;
    padding: 0px;
    margin-top: 350px;
    background-color:#28a745;
    border-radius: 7px;
    width: 900px;
    margin-left:340px;
}
.all-opt h2 {
    margin: 10px;
    padding: 10px;
    font-weight: 500;
}
.all-opt img {
    margin-bottom:-2px;
    height: 25px;
    width: 30px;
}
.api {
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color:black;
    margin: 0px;
    padding: 10px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    margin-top: 60px;
    margin-left: 90px;
}
.api img {
    margin-bottom:-2px;
    height:17px;
    width:17px;
}
.api:hover {
    background: linear-gradient(to right,green,lightgreen);
    color: white;
}
.api h2 {
    font-weight: 600;
}
.api p {
    padding: 15px;
}
.server {
    background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   color:black;
    margin: 0px;
    padding: 10px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    float: right;
    margin-top: -101px;
    margin-right: 80px;
    margin-bottom:20px;
}
.server:hover {
    background: linear-gradient(to right,green,lightgreen);
    color: white;
}
.server img {
    margin-bottom:-2px;
    height: 17px;
    width: 17px;
}
.server p {
    padding: 15px;
}
.server h2 {
    font-weight: 600;
}
.f-end {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
    margin: 0px;
    padding: 10px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    margin-top: 60px;
    margin-left: 90px;
}
.f-end:hover {
    background: linear-gradient(to right,green,lightgreen);
    color: white;
}
.f-end img {
    margin-bottom:-2px;
    height: 17px;
    width: 17px;
}
.f-end p {
    padding: 15px;
}
.f-end h2 {
    font-weight: 600;
}
.security {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
    margin: 0px;
    padding: 10px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    float: right;
    margin-top: -99px;
    margin-right: 80px;
    margin-bottom:20px;
}
.security:hover {
    background: linear-gradient(to right,green,lightgreen);
    color: white;
}
.security img {
    margin-bottom:-2px;
    height: 17px;
    width: 17px;
}
.security p {
    padding: 15px;
}
.security h2 {
    font-weight: 600;
}
.rdr {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
    margin: 0px;
    padding: 10px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom:20px;
}
.rdr:hover {
    background: linear-gradient(to right,green,lightgreen);
    color: white;
}
.rdr img {
    margin-bottom:-2px;
    height: 17px;
    width: 17px;
}
.rdr p {
    padding: 15px;
}
.rdr h2 {
    font-weight: 600;
}
.foot {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}
.foot p {
    color: #282828;
}
.foot a {
  color: #28a745;
}
.foot a:hover {
 color: orangered;
}  
.ri{
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    color: #282828;
}
.ri-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    border: 2px solid #282828;
   padding: 10px;
   margin: 20px;
   width: 1320px;
   margin-left: 93px;
}
.ri-1 img {
    margin-bottom:-2px;
    height: 30px;
    width: 30px;
}
.ri-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 2px solid #282828;
border-radius: 6px;
   padding: 10px;
   margin: 20px;
   width: 1320px;
   margin-left: 93px;
}
.ri-2 img {
    margin-bottom:-2px;
    height: 30px;
    width: 30px;
}
.cs-1 {
border: 2px solid red;
   padding: 10px;
   margin: 20px;
   width: 1320px;
   margin-left: 93px;
}
.cs-1 img {
    margin-bottom:-2px;
    height: 25px;
    width: 27px;
}
.guide img {
    margin-bottom:-1px;
    height: 17px;
    width: 17px;
}
.guide {
    text-align: center;
    margin-bottom: 20px;
}
.brow-rdr {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
     margin: 0px;
     padding: 10px;
     width: 600px;
     border-radius: 8px;
     text-align: center;
     float: right;
     margin-top: -119px;
     margin-right: 80px;
     margin-bottom:20px;
    }
 .brow-rdr:hover {
    background: linear-gradient(to right,orange,yellow);
    color: #282828;
}
 .brow-rdr img {
    margin-bottom:-2px;
    height: 17px;
    width: 17px;
}
.brow-rdr p {
     padding: 15px;
 }
.brow-rdr h2 {
     font-weight: 600;
}
.rfr {
     float:left;
     background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 7px;
     border-radius: 7px;
     margin-left: 30px;
}
.rfr:hover {
    background: linear-gradient(to right,green,lightgreen);
    color: white;
}
.rfr img {
    margin-bottom:-2px;
    width: 20px;
    height: 20px;
}
.rfr a {
    color: black;
    text-decoration: none;
}