* {
	margin: 0px;
	padding: 0px;	
	font-family: "Poppins" , sans-serif ;
	color:#282828;
	scroll-behavior: smooth;
}
::selection {
	color: yellow;
	background-color: #282828;
}
body {
	background-image:  url(https://i.pinimg.com/originals/78/f3/4c/78f34c25a0faf5a1a566656b3d2ce10d.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.wave {
	margin-top: 10px;
	width: 100%;
}
.nav{
	float: right;
	margin: 0px;
	padding: 0px;
}
.nav td {
	margin: 20px;
	padding: 20px;
	font-size: 25px;
}
.nav td a {
	text-decoration: none;
}
.nav td a:hover {
	color: white;
	background: linear-gradient(to right,red,blue);
	border-radius: 50px;
	transition: 0.7s;
	padding: 8px;
}
.nav td img {
	height:20px;
	width:20px;
	margin: 2px;
}
.logo {
	width:300px;
	height:300px;
	margin-top:-110px
}
.secure {
	margin:0px;
	padding:0px;
}
.text {
	float:right;
	margin-top: -330px;
	padding-right: 80px;
}
.text h1 {
	font-size:46px;
	padding: 25px;
}
.text p {
	font-family: 'Inter', sans-serif;
	font-size:15px;
	margin-left: 25px;
}
.text button {
	text-align: center;
	margin-top: 30px;
	background-color: transparent;
	font-size:15px;
	margin: 20px;
	padding: 10px;
	border: 5px solid black;
	border-radius:50px;
}
.text button:hover {
	color: white;
	background: linear-gradient(to right, red,blue);
	transition: 0.5s ;
}
.about {
	background-color: black;
	margin-top: -10px;
	padding: 0px;
}
.about img {
	height:50px;
	width:50px;
}
.about h1 {
	color: white;
	font-size:50px;
	text-align: center;
}
.about p {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
    word-spacing: 5px;
	margin-top: 100px;
	color: white;
	text-align: center;
}
.wdown {
	width: 100%;
}
.foot {
	background-color: #282828;
	margin-top: -10px;
	padding: 0px;
}
.foot-2 {
	background-color: #282828;
}
.foot-2 p{
	font-family: 'Inter', sans-serif;
	color: white;
	font-size:15px;
	margin-top: 26px;
	float: right;
}
.foot-2 img a{
	background-color:#282828;
}
.foot-2 img {
	height: 32px;
	width:32px;
	padding: 15px;
	margin:0px;
}
.foot table {
	width: 100%;
	text-align: center;
}
.foot table th {
	color: grey;
	font-size: 17px;
}
.foot table td {
	padding: 16px;
	color: white;
	font-size:15px;
	font-family:'Inter', sans-serif;
}
.foot a {
	color: white;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
}
.foot  table td a:hover {
	color: white;
	background: linear-gradient(to right, red,blue);
	border-radius: 50px;
	transition: 0.5s ease;
}
.foot table img {
	height:35px;
	width:35px;
}
.vs-code {
	background-color: #282828;
}
.vs-code img {
	  width: 100px;
	 margin-left: 1300px;
	 padding: 10px;
}
.vs-code img:hover {
	background: linear-gradient(to right,red,blue);
	border-radius: 50px;
}
.wsy-dev {
	font-family: 'Inter', sans-serif;
	background-color: #282828;
	text-align: center;
	padding: 12px;
}
.wsy-dev img {
	height:24px;
	width:27px;
	margin-bottom:-6px;
}
.wsy-dev p {
	font-family: 'Inter', sans-serif;
	color: white;
}
